@mixin light-theme {
  --bg-primary: #f5f5f5; /* Light gray for main background */
  --bg-secondary: #e0e0e0; /* Slightly darker gray for secondary background */
  --bg-accent: #cccccc; /* Light gray for accent areas (buttons, etc.) */
  --bg-error: #f0f0f0; /* Light red for error messages */

  --text-primary: #333333; /* Dark gray for primary text */
  --text-secondary: #666666; /* Lighter gray for secondary text */
  --text-accent: #007bff; /* Blue for accent text (links, buttons) */
  --text-error: #dc3545; /* Red for error text */
}


@mixin dark-theme {
  --bg-primary: #222222; /* Dark gray for main background */
  --bg-secondary: #333333; /* Slightly lighter gray for secondary background */
  --bg-accent: #444444; /* Even darker gray for accent areas */
  --bg-error: #800000; /* Dark red for error messages */

  --text-primary: #ffffff; /* White for primary text */
  --text-secondary: #e0e0e0; /* Light gray for secondary text */
  --text-accent: #007bff; /* Blue for accent text (links, buttons) */
  --text-error: #dc3545; /* Red for error text, consider adjusting contrast */
}
