@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply container max-w-6xl px-5 py-5;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  @apply text-config-text-primary bg-config-bg-primary;
}

a, .hoverable {
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}

.contents {
  display: contents;
}